@font-face {font-family: 'Ubuntu Mono'; src: url(UbuntuMono-Bold.ttf)}

:root {
  --top-padding: clamp(2.5rem, 7vw, 5rem);
  --color-green: #26c983;
  --color-blue: #1a7ce2;
  --color-inner-bg: #ffffff;
  --color-body-bg: #000050;
  --color-heading: #000;
  --color-text: #222;
  --color-shadow: #FFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-blue: #3088e6;
    --color-inner-bg: #181A1B;
    --color-body-bg: #000033;
    --color-heading: #FFF;
    --color-text: #DDD;
    --color-shadow: #303436;
  }
}

@keyframes flash {
  0% {filter: hue-rotate(0deg)}
  50% {filter: hue-rotate(180deg)}
  100% {filter: hue-rotate(360deg)}
}

@-webkit-keyframes flash {
  0% {filter: hue-rotate(0deg)}
  50% {filter: hue-rotate(180deg)}
  100% {filter: hue-rotate(360deg)}
}

body {
  background-color: var(--color-body-bg);
  font-family: 'Calamity','sans-serif';
  margin: 0;
  min-height: calc(100vh - var(--top-padding));
}

a {
  color: var(--color-blue);
}

a:hover {
  animation: flash 2s linear infinite;
}

a:focus-visible {
  font-weight: bold;
}

.green {
  color: var(--color-green);
  text-decoration: underline;
}

.inner {
  max-width: min(55rem, calc(100vw - 5rem));
  margin: var(--top-padding) auto;
  padding: 15px;
  background-color: var(--color-inner-bg);
  color: var(--color-heading);
  border-radius: 0.5em;
  border: solid var(--color-shadow);
  border-width: 0 3px 3px;
}

.plug {
  float: right;
  margin: 0.6em;
  font-size: clamp(0.8rem, 2vw, 1rem);
  text-decoration: none;
  position: relative;
}

.plug::after {
  content: "";
  position: absolute;
  height: 0.15em;
  bottom: -0.05em;
  right: 0;
  width: 0;
  background-color: var(--color-blue);
  transition: width 250ms ease-in-out;
}

.plug:hover::after,
.plug:focus-visible::after {
  left: 0;
  width: 100%;
  transition: width 250ms ease-in-out;
}

.content p {
  margin-bottom: 5px;
  color: var(--color-text);
}

.content img {
  max-width: 10em;
}

.links {
  font-size: clamp(0.8rem, 3.2vw, 1rem);
  line-height: 1.75em;
}

ul {
  font-family: 'Ubuntu Mono', monospace;
  list-style-type: none;
  padding-left: 0;
}
