:root {
  --color-green: #26c983;
  --color-blue: #1a7ce2;
  --color-inner-bg: #ffffff;
  --color-body-bg: #000050;
  --color-text: #000000;
  --color-shadow: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-blue: #3088e6;
    --color-inner-bg: #181A1B;
    --color-body-bg: #000033;
    --color-text: #FFFFFF;
    --color-shadow: #303436;
  }
}

@keyframes flash {
  0% {
      filter: hue-rotate(0deg);
  }

  50% {
      filter: hue-rotate(180deg);
  }

  100% {
      filter: hue-rotate(360deg);
  }
}

@media screen and (min-width: 520px) {
  .no_break {
    display: none;
  }
}

@font-face {font-family: 'Ubuntu Mono'; src: url(https://koma.li/UbuntuMono-Bold.ttf)}
#links {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: bold;
}

.green {
  color: var(--color-green);
  /*text-decoration: underline;*/
}

body {
  background-color: var(--color-body-bg);
  font-family: 'Calamity','sans-serif';
  margin: 0;
  min-height: 100vh;
}

a {
  color: var(--color-blue);
}

a:hover {
  animation: flash 2s linear infinite;
}

#main {
  box-sizing: border-box;
  display: block;
  border-radius: .5rem;
  margin: 5em auto;
  max-width: min(55rem, calc(100vw - 3rem));
}

#inner {
  width: 100%;
  margin: 0;
  padding: 10px;
  background-color: var(--color-inner-bg);
  color: var(--color-text);
  border-radius: 10px;
  box-sizing: border-box;
  border-style: solid;
  border-color: var(--color-shadow);
  border-width: 0 .2rem .2rem;
  line-height: 1.75em;
  position: relative;
  z-index: 6;
  height: auto;
  overflow: hidden;
  background-origin: border-box;
}
